@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}


.envoltorio{
	overflow: hidden;
	width: 100%;
	margin:0 auto;
}

header{
	background-color: rgb(70, 68, 68);
	width: 100%;
	display: flex;
}

div.logo{
	border: solid white;
	float: left;
	width: 30%;
}

div.logo img{
	margin: 20px 20px 20px 30px;
}

nav{
	border: solid white;
	display: flex;
	flex-wrap: flex;
}

nav ul{
	list-style: none;
	display: flex;
}

nav ul li a{
	color: white;
	text-decoration: none;
}