@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}


.envoltorio{
	overflow: hidden;
	width: 100%;
	margin:0 auto;
}

header{
	background-color: rgb(70, 68, 68);
	width: 100%;
	display: flex;
	height: 100px;
	position: relative;
	z-index: 1;
}

div.logo{
	border: solid white;
	float: left;
	width: 30%;
	height: 95%;
}

div.logo img{
	margin: 20px 20px 20px 40px;
}

nav{
	border: solid white;
	display: flex;
	flex-wrap: flex;
	height: 95%;
}

nav ul{
	list-style: none;
	display: flex;
	position: relative;
}

nav ul li{
	position: relative;
	padding-left: 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	padding: 20px 20px;
}

nav ul li ul{
	display: none;
	position: absolute;
	top: 100%;
	background-color: red;
	z-index: 10;
}

nav ul li:hover ul{
	display: block;
}

