@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}


.envoltorio{
	overflow: hidden;
	width:80%;
	margin:0 auto;
}

header{
	background-color: rgb(70, 68, 68);
	display: flex;
	width: 100%;
}

div.logo{
	border: solid white;
	float: left;
}

nav{
	border: solid white;
	float: right;
}

nav ul{
	
}
