div{
    position: absolute;
}

#diez_de_diamantes{
    z-index: 1;
    top: 10px;
    left: 10px;
}

#sota_de_diamantes{
    z-index: 2;
    top: 20px;
    left: 20px;
}

#reina_de_diamantes{
    z-index: 3;
    top: 30px;
    left: 30px;
}

#rey_de_diamantes{
    z-index: 4;
    top: 40px;
    left: 40px;
}

#as_de_diamantes{
    z-index: 5;
    top: 50px;
    left: 50px;
}