div{
    position: absolute;
}

#diez_de_diamantes{
    z-index: 5;
    top: 180px;
    left: 180px;
}

#sota_de_diamantes{
    z-index: 4;
    top: 160px;
    left: 160px;
}

#reina_de_diamantes{
    z-index: 3;
    top: 140px;
    left: 140px;
}

#rey_de_diamantes{
    z-index: 2;
    top: 120px;
    left: 120px;
}

#as_de_diamantes{
    z-index: 1;
    top: 100px;
    left: 100px;
}